html,
body {
  height: 100%;
  min-height: 100vh;
}

body {
  padding: 0;
  margin: 0;
  background: #fff;
  font-family: 'Montserrat', sans-serif;
  font-size: 13px;
  line-height: 1.6;
  color: #2E2D33;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.wrap {
  width: 100%;
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.wrap > * {
  width: 100%;
}

.left {
  background: #2e2c39;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  padding: 50px;
}

.left > * {
  margin: 0 0 35px 0;
}

.left > *:last-child {
  margin-bottom: 0;
}

.left-inner {
  display: block;
  width: 100%;
}

.right {
  background: url("../img/evgeni-veskov-890x650.jpg") center center no-repeat;
  background-size: cover;
}

.evg-name,
.job-position,
.skills-wrap,
.social-logos {
  margin-top: 0;
  margin-bottom: 30px;
}

.evg-name {
  font-weight: 100;
  font-size: 9vh;
  color: #fff;
  line-height: 1.2;
  letter-spacing: 6px;
}

.job-position {
  font-weight: 100;
  font-size: 26px;
  color: #ddd;
}

.skills {
  font-weight: 400;
  font-size: 14px;
  color: #999;
  text-align: left;
  margin: 5px 0;
}

.skills span:after {
  content: '';
  background: #999;
  border-radius: 50%;
  width: 3px;
  height: 3px;
  margin: 3px 9px;
  display: inline-block;
}

.skills span:last-of-type:after {
  display: none;
}

.social-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 60px;
  width: 100%;
}

.social-logos img {
  height: 50px;
  opacity: .5;
  -webkit-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}

.social-logos img:hover {
  opacity: 1;
}

.social-logos a {
  margin-right: 15px;
}

.social-logos a:last-of-type {
  margin-right: 0;
}

.evg-footer a {
  color: #999;
  display: block;
  width: 100%;
  font-weight: 400;
  text-decoration: none;
  -webkit-transition: all .5s ease-out;
  transition: all .5s ease-out;
}

.evg-footer a:hover {
  color: #fff;
}

/*Mobile*/
@media (max-width: 767px) {
  .wrap {
    min-height: 100vh;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .right {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
    min-height: 350px;
    background-position: center top;
  }
  .left {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .social-logos {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header,
  .skills,
  .job-position {
    width: 100%;
    text-align: center;
  }
  .evg-name {
    text-align: center;
    font-size: 38px;
  }
  .content {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .skills {
    width: 100%;
  }
  .evg-footer {
    text-align: center;
  }
}
/*# sourceMappingURL=style.css.map */